body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffecd2, hsl(15, 89%, 82%));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background: #401305;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #fb460f;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}