body {
  background-color: #16610E;
  font-family: Comic Sans MS, cursive;
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #FFD5D5;
}

button {
  background-color: #f1f6f5;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #FDAAAA;
  color: white;
}

#jokeArea {
  margin-top: 20px;
  font-size: 20px;
  color: #FFD5D5
}