*{
    margin :0;
    padding: 0;

}
body{
background-color: blanchedalmond;
text-align: center;
}
.container{
   height: 70vh;
   display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
}
.game{
    height:60vmin;
        width:60vmin;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:2vmin;

}
.box{
    height:18vh;
    width:18vh;
    border-radius:1rem;
    border:none;
    box-shadow: 0 0 1rem burlywood;
    font-size:8vmin;
    color:rgba(81, 4, 4, 0.892);
    background-color: white;
}
#reset-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color:rgba(41, 3, 3, 0.928) ;
    color:white;
    border:none;
    border-radius:1rem;
}
#new-btn{
     padding:1rem;
    font-size:1.25rem;
    background-color:rgba(41, 3, 3, 0.928) ;
    color:white;
    border:none;
    border-radius:1rem;
}
#msg{
    color:rgba(41, 3, 3, 0.928) ;
    font-size:7vmin;

}
.msg-container{
    height: 20vmin;
}
.hide{
    display:none;
}
#draw-msg {
    font-size: 1.2rem;
    color: rgb(50, 18, 2);
    font-weight: bold;
}
#msg, #draw-msg {
  margin: 0.5rem 0;
}
.x {
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

.o {
  color: blue;
  font-weight: bold;
  font-size: 2rem;
}